* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: rgb(31, 31, 8);
}

.wrap {
	position: relative;
	min-height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
}

.wrap > * {
	grid-column: 1;
	grid-row: 1;
}

.face {
	position: absolute;
}
